* {
    margin:0;
    padding:0;
}

body {
    position: relative;
    margin: auto;
    max-width: 960px;
    text-align: center;
}

a {
    text-decoration: none;
}

input {
    margin: 15px;
}

input#search-box {
    width: 200px;
    height: 25px;
}

nav.top-nav{
    list-style-type: none;
    padding: 0;
    width: 100%;
    text-align: right;
}

.top-nav li {
    display: inline-block;
    padding-right: 5px;
}

nav.footer-nav {
    list-style-type: none;
    padding: 0;
    width: 100%;
}

.footer-nav li {
    display: inline;
    padding-right: 5px;
}

#google-logo {
    width: 200px;
}